<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
    </head>
    <body>
        <style>
            html,
            body {
                background: #454444;
                color: rgb(16, 148, 148);
                font-family: sans-serif;
            }
        </style>

        <h1><%= errorStatus %></h1>
        <h1><%= error %></h1>
    </body>
</html>
